*{
    font-style: italic;
}
body{
    background-color: black;
}
.sec1 {
    color: red;
    font-size: 50px;

}
.sec2{
    color: red;
   font-size: 40px; 

}
.p1{
    font-style: ;
}
.zaid1{
    border-radius: 180px;
    position: relative;


}
.demo{
    color: red;
    text-align: center;
    font-size: 50px;
}
.demo1{
    color: #f5f5f5;
    background-color: rgb(131, 77, 77);
    text-align: center;
    font-size: 50px;
    margin-top: 50;
}
.sociol{
    text-decoration: none;
    margin: 30px;
    border-style: dotted;
    margin-top: 100;

}